/*Complete Frontend of the Spotify Website
    Technology used : HTML & CSS
    By : Ritesh Raj
    (for the purpose of practice my knowledge
    */
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
}

.main {
    display: flex;
}

/*SideBar of the Spotify*/
.sidebar {
    position: sticky;
    top: 0;
    background-color: #000;
    height: 100vh;
    width: 350px;
    border-radius: 1rem;
    margin: .5rem .3rem;
}

.side-nav {

    background-color: #121212;
    border-radius: .5rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.7rem;
    margin: .3rem .3rem;
}

.nav-option {
    background-color: #121212;
    line-height: 2.5rem;
    opacity: .6;
    padding: 0rem .7rem;
}

.nav-option:hover {
    background-color: #121212;
    line-height: 2.5rem;
    opacity: 1;
}

.nav-option a {
    text-decoration: none;
    color: #fff;
    background-color: #121212;
    font-size: 1rem;
    padding-left: 1rem;
}

.nav-option i {

    background-color: #121212;
    font-size: 1.25rem;

}

.library {

    background-color: #121212;
    height: 100vh;
    border-radius: .5rem;
    padding: 1rem;
    margin: .5rem .3rem .3rem .3rem;
}

.lib-nav {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    padding: 0rem .7rem;

}

.lib-option {

    display: flex;
    background-color: #121212;

}

.lib-option img {
    background-color: #121212;
    width: 1.25rem;
    height: 1.25rem;
    opacity: .6;
}

.lib-option img:hover {

    opacity: 1;
}

.lib-option a {
    text-decoration: none;
    background-color: #121212;
    padding-left: 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    opacity: .6;
}

.lib-option a:hover {
    opacity: 1;
}

.lib-icon {
    background-color: #121212;

}

.lib-icon i {
    background-color: #121212;
    font-size: 1.25rem;
    margin-right: 1.25rem;
    opacity: .6;

}

.lib-icon i:hover {
    opacity: 1;
}

.lib-box {
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: #2d2d2d;
    border-radius: 1rem;
}


.box-p1 {
    margin: 0rem .5rem;
    background-color: #2d2d2d;

    font-size: 1rem;
    font-weight: 600;

}

.box-p2 {
    margin: .8rem .5rem;
    background-color: #2d2d2d;

    font-size: .8rem;
    font-weight: 500;
}

.box-badge {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    border-radius: 2.5rem;

    font-size: 1rem;
    padding: .5rem 1rem;
    margin: 1.5rem .4rem .7rem .4rem;
}

.box-badge:hover {
    font-size: 1.03rem;
}

/*Main View of the Spotify*/
.main-content {

    right: 0;
    background-color: #121212;
    flex: 1;
    border-radius: .5rem;
    padding: 0.5rem 0.7rem;
    margin: .3rem .3rem;


}

.main-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-radius: .5rem;
    margin: .3rem .2rem;
}

.main-nav-left img {

    height: 1.8rem;
    width: 1.8rem;
    margin-left: 2rem;
    border-radius: 50%;
    padding: .5rem;
}

.main-nav-left {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;

}

.main-nav-right {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.main-nav-right button {
    margin: 0rem 2rem;
}

.dark-badge {
    background-color: #000;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 2.5rem;
    font-size: 1rem;
    padding: .5rem 1rem;
    margin: 1.5rem .4rem .7rem .4rem;

}

.dark-badge i {
    padding-right: .4rem;
    font-size: 1.25rem;
}

@media (max-width: 1150px) {
    .hide {
        display: none;
    }
}

.main-card {
    background-color: #121212;

}

.main-card h2 {
    background-color: #121212;
    margin-top: 2rem;
}

.card-container1 {
    background-color: #121212;
    display: flex;


}

.card {
    background-color: #2d2d2d;
    margin: 1.25rem;
    padding: .5rem;
    width: 15rem;
    height: 22rem;
    border-radius: 1rem;

}

.card img {
    background-color: #2d2d2d;
    height: 14rem;
    width: 14rem;
    padding: .5rem;
    border-radius: 1rem;
}

.card h4 {
    background-color: #2d2d2d;
    margin: .5rem;
    padding: .5rem;
}

.card p {
    margin: .5rem;
    padding: .5rem;
    background-color: #2d2d2d;
}

/* Music Player */

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;

}

.left-mp {

    height: 45px;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.left-mp img {
    width: 3.5rem;
    height: 3.5rem;

}

.left-mp i {

    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
    opacity: .6;

}

.album-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 1rem;
}

.mp-control {
    display: flex;
    align-items: center;
    margin-right: 7rem;

}

.mp-control img {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 2rem;

}

.right-mp i {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 2rem;
}